[
    {
        "credential_name": "mapped_drive_creds",
        "username": "administrator",
        "password": "{{ domain_admin_password }}",
        "drive_letter": "Z",
        "server": "{{ target_domain_controller }}",
        "share_name": "hackme"
    }
]