[ 
    {
        "identity": "SQLService",
        "password": "MYpassword123#",
        "state": "present",
        "fistname": "SQL",
        "surname": "Service",
        "description": "The password is MYpassword123#",
        "path": "CN=Users",
        "password_never_expires": true,
        "spn": [
            "{{ hostname }}/SQLService.{{ domain_name }}.{{ domain_tld }}:60111"
        ],
        "groups": [
            "Administrators",
            "Domain Admins",
            "Domain Users",
            "Enterprise Admins",
            "Group Policy Creator Owners",
            "Schema Admins"
        ]
    }
]
